<!DOCTYPE html>
<html>
  <head>
    <title>Blend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>

    <header>
    <ul class="header-menus">
    <li>
      <%= link_to("atlta", "/") %>
    </li>
    <% @categories.each do |category| %>
      <li>
        <%= link_to(category.name, sharings_path(category: category.name)) %>
        
      </li>
    <% end %>
    </ul>
    </header>
    <%= yield %>
  </body>
</html>
